<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamsynergy.cryptologue">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.teamsynergy.cryptologue.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <permission android:name="android.permission.READ_CONTACTS"/>
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="com.teamsynergy.cryptologue.permission.C2D_MESSAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.HomepageActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Parse setup -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="kyNJHeJgXmP4K4TxmeaFrU09D0faUvwQ2RSBGv5s" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="uRdkVn6jcjdZF7kMQxKAAK39JpNG98nJFPwfbhwo" />
        <!-- GCM setup -->
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:462137946446" />
        <!--
             The following service and broadcast receiver definitions must come immediately
             before the closing </application> tag
        -->
        <service android:name="com.parse.PushService" />
        <service android:name=".MessagingService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.teamsynergy.cryptologue" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UI.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.ChatroomActivity"
            android:icon="@drawable/arrow_bg1"
            android:label="@string/title_activity_chatroom"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.ChatRoomNameActivity"
            android:icon="@drawable/arrow_bg1"
            android:label="ChatroomNameActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.CreateEventActivity"
            android:icon="@drawable/arrow_bg1"
            android:label="EventsActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.EventActivity"
            android:icon="@drawable/arrow_bg1"
            android:label="EventsActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.PollsActivity"
            android:icon="@drawable/arrow_bg1"
            android:label="PollsActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.MembersActivity"
            android:icon="@drawable/arrow_bg1"
            android:label="MembersActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.LeaveChatActivity"
            android:icon="@drawable/arrow_bg1"
            android:label="LeaveChatActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.SelectContactsActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.CreateChatroomActivity"
            android:label="@string/title_activity_create_chatroom"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.CreatePollActivity"
            android:label="CreatePollActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.ChatFunctionActivity"
            android:label="ChatFunctionActivity"
            android:theme="@style/AppTheme.Dark.ActionBar"
            android:screenOrientation="portrait"/>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBs4bkq34keK70SjCTG91pJjceU9Cj4dh4" />

    </application>

</manifest>